
.container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 

  }
  #divBusca{
    background-color:#888888;
    border:solid 1px;
    border-radius:15px;
    width: 82%;
    margin-left: 100px;
    justify-content: center;
  }
  
  
  #txtBusca{
   
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:82%;
  }
  
  input{
    outline: none;
  }
  
  .pokemon {
    width: 300px;
    height: 400px;
    margin: 10px 50px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border: 10px solid #f0ec14e8;
    background:linear-gradient(115deg, #3a0c56  0,  #610606e8 50%);
  }

  .pokemon:hover{
    background:linear-gradient(115deg, #1c7ab179  0,  #6cbbf036 50%);
    border: 10px solid #03baf17c;

  }
  
  img:hover{
    -webkit-filter: drop-shadow(8px 7px 1px rgba(0,0,0,.5));
    filter: drop-shadow(8px 7px 1px rgba(0,0,0,.5));
    -webkit-transform: rotateZ(-360deg) scale(1.1);
  }


  .name{
    padding-top: 50px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
  }

  .moves {
    background: #039b24;
  }

  .ability{
    background: #0a40b4;

  }

  .type{
    background: #9bcc50;


  }

  label {
    line-height: 15px;
    border: 1px solid #ddd;
    padding: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
  }

  span {
    color: white;
    border-radius: 6px;
    height: 15px;
    padding: 3px;
    margin: 5px;
    margin-top: 10px;
    line-height: 15px;
  }

#mytable {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-collapse: separate;
  width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


#mytable td, #mytable th {
  border: 1px solid #ddd;
  padding: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;

}

i:hover{
  color: #ce1717
}

#mytable tr:nth-child(even){background-color: #f2f2f2;}

#mytable tr:hover {background-color: #ddd;}

#mytable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ce1717;
  color: white;
}

.btn {
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  width: 100%;
  border: none;
  color: white;
  background: linear-gradient(115deg, #3a0c56  0,  #270335e8 50%);
}
.btn:hover {
  text-decoration: none;
  border: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  background: linear-gradient(115deg, #3a0c56  0,  #660303e8 50%);
}