<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" >
        <span>
            <a routerLink="/">
                <img class="logo" src="assets/images/MRX.png"  alt="logo">
                <span class="title">
                    <strong> MXPlayer</strong>
                    
                </span>
            </a>
        </span>
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons" >
                    home
                </i>
                Início
            </a>
            
            
            <a mat-list-item routerLink="pokemons">
                <i class="material-icons">
                    whatshot
                </i>
                Pokemons
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>