<div id="divBusca">
  <input (keydown.enter)="filterPokemons(pokemonName)" bindon-ngModel="pokemonName" type="text" id="txtBusca"
    placeholder="Buscar..." />
  <button (click)="filterPokemons(pokemonName)">Pesquisar
  </button>
</div>
<div class="container">
  <div *ngFor="let pokemon of filtredPokemons; let i = index" class="pokemon" (click)="clickPokemon(pokemon.id)">
    <img width="200" [src]="buildUrlImage(pokemon.id)" alt="">

    <div class="name">
      <label><strong>Tipo:</strong>
        <span  class="title" class="type" *ngFor="let type of pokemon.types">
          {{type.type.name}}
        </span>
      </label>
      <br>
      <label><strong>Nome:</strong> {{pokemon.name}}</label>
      <br>
      <label><strong>Formas:</strong> 
        <span *ngFor="let form of pokemon.forms">
        {{form.name}}
      </span>
      </label>
      <br>
      <label><strong>Habilidades:</strong> 
        <span *ngFor="let ability of pokemon.abilities">
        {{ability.ability.name}}
      </span>
      </label>
      <br>


    </div>

  </div>
</div>
